// Color
$primaryColor: #212529;
$lightColor: #f8fafc;
$darkBoxShadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);

// Size
$sidenavOpenWidth: 225px;
$sidenavClosedWidth: 105px;
$topnavHeight: 70px;

$primaryTransition: 0.3s ease-in-out;

#wrapperAuth{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: $lightColor;
    min-height: 100vh;
    position: relative;
    &:before{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .btn-primary{
        color: $lightColor;
        background-color: $primaryColor;
        border-color: $primaryColor;
    }
    
    .container{
        .row{
            .card{
                box-shadow: none;
                border: none;
                background-color: rgba(255, 255, 255, 0.55);
                backdrop-filter: blur(10px);
                border-radius: 10px;
                .card-header{
                    background-color: transparent;
                    border: none;
                    img{
                        max-height: 150px;
                        object-fit: contain;
                    }
                }
                .card-body{
                    h4{
                        color: $primaryColor;
                        font-weight: 600;
                    }
                }
            }
        }
    }
}